<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>
  <center>
    <h1>Welcome to J.A.R.V.I.S</h1>
    <h2>Click <a href="https://www.facebook.com/jarvisaq250">here</a> to chat with me on Facebook.</h2>
  </center>
</body>
